@media (max-width:650px){
    .container_meteo_city{
        flex-direction: column;
    }

    .name_city{
        padding-top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .departement_city{
        margin-top: 0;
        margin-bottom: 0;
    }

    .container_temperature{
        gap:80px
    }

    .deleat_favori{
        display:none;
    }


}