@media (max-width:650px) {
    .container_meteo_city {
        flex-direction: column;
    }

    .name_city {
        margin-top: 5px;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .name_city_content {
        padding-bottom: 10px;
        width: auto;
    }

    .departement_city {
        margin-top: 0;
        margin-bottom: 0;
    }

    .container_temperature {
        gap: 80px
    }

    .meteo_city {
        font-size: 1.05em;
        padding: 0px 10px;
    }

    .meteo_content {
        display: flex;
        text-align: center;
    }

    .icon_weather{
        padding-left:10%
    }

}