:root {
    font-size: 1em;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(circle, rgba(145, 73, 153, 1) 0%, rgb(0, 0, 0) 100%);
    font-family: "Jura", sans-serif;
}

.demande_geolocalisation {
    padding: 10px 20px;
    margin-bottom: 20px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    background-color: #f9d7fd;
}

.consent {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#consent_geoloc_true,
#consent_geoloc_false {
    margin-top: 15px;
    border: 1px solid black;
    padding: 5px
}

#consent_geoloc_true:hover,
#consent_geoloc_false:hover {
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;
}

#main_container {
    background-color: rgb(230, 96, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
    border: 2px solid rgb(0, 0, 0);

}

.container_input_city {
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background: radial-gradient(circle, #bd69c7 0%, rgb(95, 31, 92) 100%);
    border-radius: 16px 16px 0 0;
    border: 2px solid black;
    border-bottom: none;
}

.input_city {
    height: 25px;
    width: 55%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(113, 255, 111);
}



/* frame des villes */
.container_meteo_city {

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    background-color: rgb(250, 179, 248);
    font-size: 1.2em;
}

/* Name city */
.name_city_content {
    padding: 0 15px;
    font-size: 1.5rem;
    font-weight: bolder;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.name_city{
    margin-bottom: 5px;
}

.departement_city {
    font-size: 0.85rem;
    margin-top:5px
}




.meteo_city {
    color: purple;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    width: 350px;
    gap:15px
}

.container_temperature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 0;
    
}

.container_weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.container_meteo {
    width: 100%;
}

.meteo_content {
    margin: 0;
}

.icon_weather{
    padding-left:15%
}

/* deleat */
.container_deleat {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.deleat_favori {
    width: 40px;

}